.layout {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-dark);

  .container {
    width: 1687px;
    height: 980px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    row-gap: 60px;
    justify-content: space-between;
    background-color: var(--background-light);
    padding: 75px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      z-index: 0;
      clip-path: polygon(100% 50%, 68% 100%, 100% 100%);
      background-color: var(--blue-light);
      border-radius: 10px;
    }
  }
}
